---
const jobs = [
  {
    title: "co-founder, tech",
    company: "codigo nyc",
    timeRange: "2022-Present",
    description:
      "As tech lead for codigo, I collaborate closely with clients to understand their business needs, tailoring digital solutions that address their needs and strategic objectives. I oversee end-to-end implementation of digital solutions, managing all aspects of web development, staying updated on emerging technologies and industry trends to drive adherence to best practices and project timelines.",
  },
  {
    title: "lead developer & director of information technology",
    company: "minds + assembly",
    timeRange: "2018-2022",
    description:
      "I provided technological direction and support to agency leaders, employees, and clients, collaborating with partners to identify opportunities and architected scalable systems. I established protocols, implemented cyber security training, and assessed IT costs for increased efficiency while managing and growing staff. I led end-to-end projects, developed stable solutions, and implemented frameworks for efficient project execution, including websites, mobile apps, and data-driven strategies. Additionally, I provided strategic solutions for business strategies, oversaw implementations on Veeva CRM and Salesforce, and managed a team of developers through hiring, growth, and mentorship.",
  },
  {
    title: "developer",
    company: "B-Reel",
    timeRange: "2017-2018",
    description:
      "As Developer, I executed front and back end changes on multiple client sites to ensure continuous deployment and integration. Additionally, I performed the migrations of locally hosted web apps and MongoDB database to AWS, enabling auto scaling and high availability. I also deployed AWS instances through scripts to automate and facilitate provisioning.",
  },
  {
    title: "director of information technlogy",
    company: "BGB Group",
    timeRange: "2011-2016",
    description:
      "As Director of IT, I scaled the agency's technological infrastructure from supporting 50 to 300 employees by expanding computing, network, and server systems. Additionally, I administered AWS by designing, implementing, monitoring, and maintaining the AWS environment, utilizing EC2, S3, RDS, and ElastiCache. I facilitated the migration of physical infrastructure to AWS for enhanced high availability, monitoring, data backup, and disaster recovery. Furthermore, I oversaw the entire buildout of two new offices in NYC.",
  },
];
---

<section
  aria-labelledby=":rr:"
  class="mx-auto max-w-5xl sm:px-6 sm:border-l sm:border-primary-700/40"
>
  <div class="grid grid-cols-1 gap-y-8 items-baseline md:grid-cols-4">
    <h2
      id=":rr:"
      class="text-lg font-semibold tracking-tight sm:text-xl text-primary-100"
    >
      Experience
    </h2>
    <div class="md:col-span-3">
      <ul role="list" class="space-y-16">
        {
          jobs.map((j) => (
            <li class="flex flex-col items-start">
              <>
                <div class="flex flex-row justify-between items-baseline pl-2 w-full border-l border-primary-700">
                  <div class="flex flex-col">
                    <div class="flex flex-row gap-2 items-center">
                      <img
                        decoding="async"
                        loading="lazy"
                        src={`images/${j.company.toLowerCase()}.jpeg`}
                        class="w-7 h-7 rounded-full ring-1 shadow-md shadow-primary-800/5 ring-primary-900"
                      />
                      <h3 class="text-base font-semibold tracking-tight sm:max-w-none sm:text-lg max-w-[20ch] text-primary-100">
                        {j.company}
                      </h3>
                    </div>

                    <h2 class="text-sm tracking-tight sm:max-w-none sm:text-base max-w-[20ch] text-primary-300">
                      {j.title}
                    </h2>
                  </div>
                  <time class="text-sm text-primary-600">{j.timeRange}</time>
                </div>

                <p class="z-10 mt-4 text-sm text-primary-300 max-w-[75ch]">
                  {j.description}
                </p>
              </>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
